@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
    background: url("background1.jpg") no-repeat center center/cover;
    font-family: 'Orbitron', copperplate gothic;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 50px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

.header:hover {
    transform: scale(1.1);
    opacity: 1.1;
}

.header a{
    text-decoration: none;
    color:blueviolet;
}

.bigsignupcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-height: 650px;
    margin-bottom: 30px;
}

.signup-container {
    transition: all 0.5s;
    padding: 30px;
    border-radius: 10px;
    min-height: 500px;
    width: 500px;
    text-align: center;
    opacity: 0.5;
}

.signup-container:hover{
    backdrop-filter: blur(15px);
    box-shadow: 0px 8px 8px rgb(165, 166, 225);
    opacity: 1;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffffaa;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 70%;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: cyan;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
}

small.error {
    color: red;
    font-size: 12px;
    display: none;
}

p {
    color: #ffffffaa;
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.signup-container a:hover{
    color: #0056b3;
}

@media screen and (max-width: 1075px){
    .signup-container {
        width: 75%;
        padding: 20px;
    }

    .header{
        font-size: 36px;
    }
}