@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
    background: url("background1.jpg") no-repeat center center/cover;
    font-family: 'Orbitron',copperplate gothic ;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 40px;
}

.main{
    font-size: 40px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

.main:hover {
    transform: scale(1.1);
    opacity: 1.1;
}

.main a{
    text-decoration: none;
    color:blueviolet;
}

nave {
    display: flex;
    /* padding: 40px 15px; */
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: blueviolet;
    /* font-weight: 500; */
    font-size: 17px;
    /* background-color: rgb(255, 251, 251); */
    /* padding: 5px; */
    /* border-radius: 5px; */
}

nav {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.9;
}

nav:hover {
    transform: scale(1.1);
    opacity: 1.1;
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title{
    font-size: 30px;
    color: whitesmoke;
    height: 100px;
    display: block;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap:wrap;
}

.cardset{
    border-radius: 20px;
    box-shadow:0 0 15px rgba(0, 255, 255, 0.3);
    width: 225px;
    height: 150px;
    margin: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.cardset:hover {
    transition: all 1s;
    box-shadow:0 0 15px rgba(0, 255, 255, 0.6);
}

.cardset img{
    display: flex;
    object-fit: cover;
    border-radius: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
}

.cardset:hover .overlay {
    display: block;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    /* padding-top: 55px; */
    /* Show text when the container is hovered */
}

@media screen and (max-width: 1075px){
    .overlay {
        width: 80vw;
        height: auto;
        padding: 20px;
        font-size: 15px;
    }
}