@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background1.jpg");
}

.parent {
    font-family: 'Orbitron', copperplate gothic;
    /* font-style: italic; */
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 300px 100px 100px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    font-size: 40px;
    color: blueviolet;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.9;
}

.header:hover {
    transform: scale(1.2);
    opacity: 1.1;
}

.div2 {
    grid-area: 1 / 4 / 2 / 6;
    height: 100px;
}

nave {
    display: flex;
    /* padding: 40px 15px; */
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: blueviolet;
    /* font-weight: 500; */
    font-size: 17px;
    /* background-color: rgb(255, 251, 251); */
    /* padding: 5px; */
    /* border-radius: 5px; */
}

nav {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.9;
}

nav:hover {
    transform: scale(1.2);
    opacity: 1.1;
}

.div3 {
    grid-area: 2 / 2 / 5 / 5;
    height: 500px;
    display: block;
    align-content: center;
    justify-items: center;
    margin-bottom: 190px;
}

.first {
    color: rgb(236, 236, 236);
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.second {
    font-size: 60px;
    text-align: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

.second a {
    text-decoration: none;
    color: brown;
}

.second:hover {
    transform: scale(1.15);
    opacity: 1.1;
}

.div4 {
    grid-area: 2 / 1 / 4 / 2;
    height: 400px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

.image {
    margin-top: 40px;
    margin-left: 30px;
    width: 280px;
    height: 300px;
    animation: bounce 6s infinite ease-in-out;
}

.div4:hover {
    transform: scale(1.1);
    opacity: 1.1;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.div5 {
    text-decoration: none;
    grid-area: 2 / 5 / 4 / 6;
    height: 400px;
    display: block;
    align-items: center;
    justify-items: center;
}

.div5_btn {
    display: none;
}

:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 50px 50px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0px 8px 8px rgb(165, 166, 225);
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(73, 65, 125, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(73, 65, 125, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(73, 65, 125, 0.75);
    border-radius: 5px;
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5)68%,
            rgba(12, 13, 19) 97%);
    border-radius: 5px;
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19)97%);
    border-radius: 5px;
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.character {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.div6 {
    grid-area: 4 / 1 / 5 / 2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #e50914;
}

.btn:hover {
    filter: drop-shadow(0 0 10px #09a3e5) drop-shadow(0 0 30px #09a3e5);
    letter-spacing: 0.2em;
    color: #fff;
}

.btn span {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #0013a4;
    pointer-events: none;
    transition: transform 0.2s ease-in-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.btn:hover span {
    transform: scaleY(1);
    transform-origin: top;
}

.btn span:nth-child(even) {
    transform-origin: top;
}

.btn:hover span:nth-child(even) {
    transform-origin: bottom;
}

.div7 {
    grid-area: 4 / 5 / 5 / 6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div8 {
    grid-area: 5 / 1 / 6 / 6;
    height: 600px;
    display: block;
    align-items: center;
    justify-content: center;
}

.title {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.container {
    width: 80%;
    max-width: auto;
    height: 400px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.25rem;
    transition: all 400ms;
}

.card1>img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 {
    flex: 1;
    height: 100%;
    transition: all 500ms;
    cursor: pointer;
}

.card1:nth-child(odd) {
    translate: 0 -20px;
}

.card1:nth-child(even) {
    translate: 0 20px;
}

.container:hover .card1:not(:hover) {
    filter: grayscale(100%);
}

.card1:hover {
    flex: 3;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    color: white;
    display: none;
    /* Hide text initially */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.card1:hover .overlay {
    display: block;
    padding-top: 55px;
    /* Show text when the container is hovered */
}

@media screen and (max-width: 1075px) {

    .parent {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .div1 {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div1 .header {
        font-size: 30px;
        text-align: left;
        font-weight: bold;
        color: blueviolet;
    }

    .div2 {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nave {
        width: 100%;
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .div2 nav {
        margin: 5px 0;
        text-align: center;
        border-radius: 8px;
        transition: 0.5s;
    }

    .div2 nav a {
        display: block;
        color: blueviolet;
        font-size: 16px;
        transition: 0.3s;
    }

    .div2 nav a:hover {
        filter: drop-shadow(0 0 10px #09a3e5) drop-shadow(0 0 30px #09a3e5);
        letter-spacing: 0.2em;
        color: #fff;
    }

    .div3 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }

    .div3 .first {
        color: rgb(236, 236, 236);
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .div3 .second {
        font-size: 24px;
        text-align: center;
    }

    .div3 .second a {
        display: inline-block;
        color: brown;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .div4 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div4 .link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div4 .image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div5 {
        width: 100%;
        margin-top: 20px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div5 a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .div5_btn {
        font-size: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: blueviolet;
        width: 80%;
        border-radius: 20px;
        font-weight: bold;
        position: relative;
        transition: 0.5s;
        overflow: hidden;
    }

    .div5_btn:hover {
        filter: drop-shadow(0 0 10px #09a3e5) drop-shadow(0 0 30px #09a3e5);
        letter-spacing: 0.2em;
        color: #fff;
    }

    .div5 .card {
        display: none;
        height: 0px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: blueviolet;
        margin: 10px auto;
        padding: 10px;
        width: 80%;
        border-radius: 20px;
        font-weight: bold;
        position: relative;
        overflow: hidden;
    }

    .btn span {
        position: absolute;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: none;
        animation: animate 2s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scaleY(1);
        }

        50% {
            transform: scaleY(2);
        }

        100% {
            transform: scaleY(1);
        }
    }

    .div8{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div8 .title {
        font-size: 22px;
        text-align: center;
        color: #00ffcc;
        margin-bottom: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0%;
        height: auto;
    }

    .card1 {
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 255, 204, 0.2);
    }

    .card1 img {
        display: block;
        height: 30vh;
        width: 100%;
    }

    .card1 .overlay {
        display : none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #00ffcc;
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .card1:hover .overlay {
        display: flex;
    }

    .card1:nth-child(odd) {
        translate: 0px;
    }

    .card1:nth-child(even) {
        translate: 0px;
    }
}