/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: 'Orbitron', copperplate gothic;
  background-image: url("background1.jpg");
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 2 / 7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 40px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.8;
}

.header a {
  text-decoration: none;
  color: blueviolet;
}

.header:hover {
  transform: scale(1.2);
  opacity: 1.1;
}

.chat-container {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 300px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.input-area button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div2 {
  grid-area: 1 / 1 / 2 / 2;
  height: 500px;
}

.div3 {
  grid-area: 1 / 2 / 2 / 3;
  height: 500px;
}

.div4 {
  grid-area: 1 / 3 / 2 / 4;
  height: 500px;
}

.image {
  margin-top: 50px;
  margin-left: 40px;
  padding: 20px;
  width: 280px;
  height: 300px;
  animation: bounce 6s infinite ease-in-out;
}

@keyframes bounce {

  0%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }
}

.div3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1075px) {
  .header {
    font-size: 36px;
  }
  
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div2 , .div4{
    display: none;
  }

  .div3 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .chat-container{
    width: 70%;
    height: 70vh;
  }
}